
*
!*.yaml
!scenes
!.gitignore
!README.md
!appdaemon
!appdaemon/apps
!appdaemon/apps/*.py
!custom_components/
!custom_components/sensor
!custom_components/sensor/*.py
!resources
!resources/deCONZ.postman_collection.json
._*.yaml
known_devices.yaml
