
*
!*.yaml
!scenes
!.gitignore
!secrets.yaml
!README.md
!appdaemon
!appdaemon/apps
!appdaemon/apps/*.py
!custom_components/
!custom_components/sensor
!custom_components/sensor/*.py
._*.yaml
known_devices.yaml
