aiohttp==2.3.10
aiohttp-jinja2==0.15.0
appdaemon==4.0.3
astral==1.10.1
async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
daemonize==2.5.0
deepdiff==4.3.2
feedparser==5.2.1
idna==2.9
idna-ssl==1.1.0
iso8601==0.1.12
Jinja2==2.10.1
MarkupSafe==1.1.1
multidict==4.7.5
ordered-set==4.0.1
paho-mqtt==1.5.0
pid==3.0.3
pycparser==2.20
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2020.1
PyYAML==5.1
requests==2.23.0
requests-futures==1.0.0
six==1.14.0
sseclient==0.0.26
urllib3==1.25.9
voluptuous==0.11.7
websocket-client==0.57.0
yarl==1.1.0
